body {
        
    padding-top: 500px;
    font-family:Montserrat;
    font-size: large;
    background-color: black;
    border-radius: 20px;
    top: 600px;

}
.loginForm{

    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    font-weight: 5000px;
    color: white;
    background-color: rgb(43, 41, 41);
    border-radius: 10px;

    
}
.loginForm input[type = "text"],.loginForm input[type = "password"]{
    border: 0;
    background-color: black;


    border: 0;
        width: 500px ;
        height: 50px;
        border-radius: 25px ;
        background: black;
        margin: 20px auto;
        display: block;
        margin: 20px auto;
        color: #F4F4F4;
        font-size:large;
        text-align: center;
        font-family: Montserrat;

}

.login{
    border: 0;
    top: 80%;
    width: 250px ;
    height: 35px;
    border-radius: 25px ;
    background: black;
    margin: 20px auto;
    display: block;
    margin: 20px auto;
    color: #F4F4F4;
    font-size:large;
    text-align: center;
    font-family: Montserrat;


}